02_beschlaegeliste/beschlaegeliste.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:art="http://example.com/article"
    targetNamespace="http://example.com/default"
    xmlns="http://example.com/default"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

  <!-- Importiere Artikel-Schema -->
  <xs:import namespace="http://example.com/article" schemaLocation="article.xsd"/>

  <!-- Simple type for non-empty string -->
  <xs:simpleType name="nonEmptyString">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Root element -->
  <xs:element name="doc">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="positions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="position" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <!-- Verweis auf Artikel im art-Namespace -->
                    <xs:element ref="art:article" maxOccurs="unbounded"/>
                  </xs:sequence>
                  <xs:attribute name="name" type="nonEmptyString" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
