02_beschlaegeliste/beschlaegeliste.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">

  <!-- Simple type for non-empty string -->
  <xs:simpleType name="nonEmptyString">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Root element -->
  <xs:element name="doc">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="positions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="position" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="article" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="name" type="nonEmptyString" use="required"/>
                        <xs:attribute name="nr" type="nonEmptyString" use="required"/>
                        <xs:attribute name="supplier" type="nonEmptyString" use="required"/>
                        <xs:attribute name="type" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="L"/>
                              <xs:enumeration value="B"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="amount" type="xs:positiveInteger" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="nonEmptyString" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>